<template>
  <div class="hero-body">
    <div class="container has-text-centered">
      <Buscador/>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Buscador from "@/components/Buscador.vue";
export default {
  name: "home",
  components: {
    Buscador
  }
};
</script>
