<template>
  <div class="hero-body">
    <div class="container has-text-centered">
      <formLogin @submited="verifyData"/>
    </div>
  </div>
</template>
<script>
import router from "../router";
import axios from "axios";
import formLogin from "@/components/formLogin.vue";
export default {
  name: "Login",
  components: {
    formLogin
  },
  methods: {
    verifyData(data) {
      axios
        .post("/api/login", data)
        .then(response => {
          var { data } = response;
          console.log(data);
          if (data.status) {
            router.push("/Stats");
          } else {
            alert(`Datos incorrectos`);
          }
        })
        .catch(() => {
          alert(`Server unreachable`);
        });
    }
  }
};
</script>
