<template>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h3 class="title">Password</h3>
        <p class="subtitle">Ingresa tu correo para recuperar la contraseña.</p>
        <div class="box">
          <div class="field">
            <div class="control has-icons-left">
              <input
                class="input is-primary is-medium is-rounded"
                type="email"
                placeholder="email"
                v-model="mail"
                required
              >
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>
          <button
            class="button is-rounded is-block is-medium is-info is-fullwidth"
            @click="recoverpassword"
          >Enviar</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import router from "@/router.js";
export default {
  name: "Password",
  data() {
    return {
      mail: ""
    };
  },
  methods: {
    recoverpassword() {
      console.log(this.mail);
      router.push("/Login");
    }
  }
};
</script>

