<template>
  <div class="hero-body">
    <div class="container has-text-centered">
      <formRegistro/>
    </div>
  </div>
</template>
<script>
import formRegistro from "@/components/formRegistro.vue";
export default {
  name: "Registro",
  components: {
    formRegistro
  }
};
</script>