<template>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Stats</h1>
      <graphs/>
    </div>
  </div>
</template>
<script>
import graphs from "../components/graphs"
export default {
  name: "Stats",
  components:{
    graphs
  }
};
</script>
