<template>
  <div>
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">Agrega tus productos</p>
      </div>
      <div class="card-content">
        <div class="content">
          <div class="list is-hoverable">
            <div v-for="(codigo, index) in codigos" :key="index">
              <a class="list-item">
                {{codigo}}
                <span class="icon is-left" @click="deleteItem(index)">
                  <i class="fas fa-minus-circle"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="field is-centered">
          <button class="button is-info is-inverted is-rounded" @click="agregar">
            <span class="icon is-small is-center">
              <i class="fas fa-plus-circle fa-3x"></i>
            </span>
          </button>
        </div>
        <template v-if="codigos.length">
          <div class="field is-centered">
            <button @click="busqueda" class="button is-info is-fullwidth">Buscar</button>
          </div>
        </template>
        <modalAgregar :active="buttonADD" @closed="modalResponse"/>
        <modalLoading :active="Cargando"/>
      </div>
      <br>
    </div>
    <br>
    <productList v-show="productos.length" :productos="productos"/>
  </div>
</template>
<script>
import modalAgregar from "@/components/modalAgregar";
import productList from "@/components/productList";
import modalLoading from "@/components/modalLoading";
import axios from "axios";
export default {
  name: "Buscador",
  data() {
    return {
      codigos: [],
      buttonADD: false,
      productos: [],
      Cargando: false
    };
  },
  methods: {
    agregar() {
      this.buttonADD = true;
    },
    modalResponse(response) {
      if (response.status) {
        this.codigos.push(response.value);
      }
      this.buttonADD = false;
    },
    async busqueda() {
      this.Cargando = true;
      //Se obtiene informacion de los productos
      console.log(this.codigos);
      await axios
        .post("/api/Codes", { codigos: this.codigos })
        .then(response => {
          var { data } = response;
          console.log(data);
          this.productos = data;
        })
        .catch(() => {
          alert(`Server unreachable`);
        });
      this.Cargando = false;
    },
    deleteItem(index) {
      this.codigos.splice(index, 1);
    }
  },
  components: {
    modalAgregar,
    productList,
    modalLoading
  }
};
</script>
