<template>
  <div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <p class="subtitle">Inicia sesión para continuar.</p>
    <div class="box">
      <figure class="image is-128x128 container">
        <img class="is-rounded" src="/Login.png">
      </figure>
      <form id="formLogin" autocomplete="off" @submit="submitform">
        <div class="field">
          <div class="control has-icons-left">
            <input
              name="user"
              class="input is-medium is-rounded"
              type="text"
              placeholder="Usuario"
              autofocus
              required
              v-model="user"
            >
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input
              name="password"
              class="input is-medium is-rounded"
              type="password"
              placeholder="Contraseña"
              required
              v-model="password"
            >
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <button
          id="bLogin"
          class="button is-rounded is-block is-medium is-info is-fullwidth"
          type="submit"
        >Entrar</button>
      </form>
    </div>
    <p class>
      <a href="../Registro">Registrarse</a>&nbsp;·&nbsp;
      <a @click="activeModal=true">Recuperar contraseña</a>
      <!--  &nbsp;·&nbsp; -->
    </p>
    <passwordRequest :active="activeModal" @closed="closeModal"/>
  </div>
</template>
<script>
import passwordRequest from "@/components/passwordRequest.vue";
export default {
  name: "formLogin",
  components: {
    passwordRequest
  },
  data() {
    return {
      user: "",
      password: "",
      activeModal: false
    };
  },
  methods: {
    submitform(e) {
      if (e.target.reportValidity()) {
        e.preventDefault();
        this.$emit("submited", { user: this.user, password: this.password });
      }
    },
    closeModal() {
      this.activeModal = false;
    }
  }
};
</script>

