import axios from 'axios';
<template>
  <div class="column is-4 is-offset-4">
    <h3 class="title">Registro</h3>
    <p class="subtitle">Por favor registrate en X-Match.</p>
    <div class="box">
      <form autocomplete="off" @submit="submitRegister">
        <div class="field">
          <div class="control has-icons-left">
            <input
              class="input is-primary is-medium is-rounded"
              type="text"
              placeholder="RFC"
              v-model="RFC"
              required
            >
            <span class="icon is-small is-left">
              <i class="fas fa-building"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input
              class="input is-primary is-medium is-rounded"
              type="text"
              placeholder="Marca o asociacion"
              v-model="Marca"
              required
            >
            <span class="icon is-small is-left">
              <i class="fas fa-globe-americas"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input
              class="input is-primary is-medium is-rounded"
              type="text"
              placeholder="usuario"
              v-model="User"
              required
            >
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input
              class="input is-primary is-medium is-rounded"
              type="email"
              placeholder="email"
              v-model="Mail"
              required
            >
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input
              class="input is-primary is-medium is-rounded"
              type="password"
              placeholder="contraseña"
              v-model="Pass"
              required
            >
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <button
          class="button is-rounded is-block is-info is-medium is-fullwidth"
          type="submit"
        >Registrar</button>
      </form>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import router from "@/router.js";
export default {
  name: "formRegistro",
  data() {
    return {
      RFC: "",
      Marca: "",
      User: "",
      Mail: "",
      Pass: ""
    };
  },
  methods: {
    submitRegister(e) {
      if (e.target.reportValidity()) {
        e.preventDefault();
        this.registerUser();
      }
    },
    registerUser() {
      var data = {
        RFC: this.RFC,
        Marca: this.Marca,
        User: this.User,
        Mail: this.Mail,
        Pass: this.Pass
      };
      console.log(data);
      axios
        .post("/api/Register", data)
        .then(response => {
          var { data } = response;
          console.log(data);
          if (data.status) {
            router.push("/Stats");
          } else {
            alert(`No puede realizar el registro, verifique Email y Usuario`);
          }
        })
        .catch(() => {
          alert(`Server unreachable`);
        });
    }
  }
};
</script>

