<template>
  <div class="section">
    <GChart v-show="showgp" type="LineChart" :data="chartData" :options="chartOptions"/>
    <div class="field has-addons">
      <input v-model="codigo" class="input" type="text" placeholder="Escribe el codigo de barras">
      <button @click="check" class="button is-info">Grafica para codigo</button>
    </div>
  </div>
</template>
<script>
import { MonthConverter } from "../datetool";
const random = require("random");
import axios from "axios";
export default {
  data() {
    return {
      chartData: [
        ["Mes", "Busquedas"],
        ["Enero", 32],
        ["Febrero", 12],
        ["Marzo", 106],
        ["Abril", 107],
        ["Mayo", 53],
        ["Junio", 2],
        ["Julio", 58],
        ["Agosto", 116],
        ["Septiembre", 14],
        ["Octubre", 4],
        ["Noviembre", 91],
        ["Diciembre", 76]
      ],
      chartOptions: {
        hAxis: {
          title: "Mes"
        },
        vAxis: {
          title: "Busquedas"
        },
        title: "",
        legend: { position: "top" }
      },
      codigo: "750047800040",
      showgp: false,
      lastcode: ""
    };
  },
  methods: {
    async check() {
      if (this.codigo !== this.lastcode) {
        await axios
          .post("/api/Stats/Code", { codigo: this.codigo, año: 2019 })
          .then(response => {
            var { data } = response;
            console.log(data);
            var res = data.result[0];
            if (res.length > 0) {
              var info = [];
              for (var r of res) {
                var mes = converter(r.mes);
                info.push([mes, r.consultas]);
              }
              console.log(info);
              var min = 1;
              var max = 150;
              this.chartOptions.title =
                "Numero de busquedas en el año 2019 del producto con codigo " +
                this.codigo;
              this.showgp = true;
              this.chartData = [["Mes", "Busquedas"]];
              for (var a of info) {
                this.chartData.push(a);
              }
              this.lastcode = this.codigo;
            } else {
              this.codigo = this.lastcode;
              alert("Codigo no encontrado");
            }
          })
          .catch(e => {
            console.log(e);
            alert(`Server unreachable`);
          });
      }
    }
  }
};
function converter(ok) {
  var mes = [
    "Enero",
    "Febrero",
    "Marzo",
    "Abril",
    "Mayo",
    "Junio",
    "Julio",
    "Agosto",
    "Septiembre",
    "Octubre",
    "Noviembre",
    "Diciembre"
  ];
  return mes[ok - 1];
}
</script>