<template>
  <div class="hero-head">
    <div class="content has-text-centered has-background-info is-block">
      <h1 class="title is-4 has-text-white">X - MATCH</h1>
    </div>
  </div>
</template>
