<template>
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="title has-text-dark">
          <i class="fas fa-store"></i>
          {{this.Tienda.Tienda}}
        </p>
      </div>
    </div>
    <!-- <div class="level-item has-text-centered">
      <div>
        <p class="heading">Producto</p>
        <p class="title has-text-dark">{{this.Tienda.Nombre}}</p>
      </div>
    </div>-->
    <div class="level-item has-text-centered">
      <div>
        <p class="title has-text-dark">
          <i class="fas fa-dollar-sign"></i>
          {{this.Tienda.Precio}}
        </p>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: "levelProduct",
  props: { Tienda: Object }
};
</script>
