<template>
  <div class="modal" v-bind:class="{'is-active' : this.active}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Ingresa el código</p>
      </header>
      <section class="modal-card-body">
        <input v-show="!webcamshow" class="input" v-model="codigo">
        <!-- Content ... -->
        <div v-show="webcamshow" class="static">
          <figure class="image has-text-centered">
            <video id="video" width="300" height="200" style="border: 1px solid gray"></video>
          </figure>
          <div class="select is-fullwidth" label="Camara">
            <select placeholder="Elige una camara" @change="setweb" v-model="webcam">
              <option
                v-for="camara in camaras"
                :value="camara.deviceId"
                :key="camara.id"
              >{{camara.label}}</option>
            </select>
          </div>
        </div>
        <div class="has-text-centered">
          <button class="button is-primary is-fullwidth" @click="opencamera">{{msgBoton}}</button>
        </div>
        <!--  -->
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="agregar">Agregar</button>
        <button class="button is-danger" @click="close">Cancelar</button>
      </footer>
    </div>
  </div>
</template>
<script>
import { BrowserBarcodeReader } from "@zxing/library";
const codeReader = new BrowserBarcodeReader();
export default {
  name: "modalAgregar",
  data() {
    return {
      codigo: "",
      webcamshow: false,
      camaras: [],
      webcam: "",
      msgBoton: "Escanear"
    };
  },
  props: {
    active: Boolean
  },
  methods: {
    close() {
      this.$emit("closed", { status: false });
      this.msgBoton = "Escanear";
      this.webcamshow = false;
      this.codigo = "";
    },
    agregar() {
      if (this.codigo.length > 10 && this.codigo.length < 14) {
        this.$emit("closed", { status: true, value: this.codigo });
        this.codigo = "";
      } else {
        alert("Ingrese un código valido");
      }
    },
    opencamera() {
      if (this.webcamshow == false) {
        this.webcamshow = true;
        codeReader
          .getVideoInputDevices()
          .then(videoInputDevices => {
            this.camaras = videoInputDevices;
          })
          .catch(e => {
            console.log(e);
          });
        this.msgBoton = "Cancelar";
      } else {
        this.msgBoton = "Escanear";
        this.closecam();
      }
    },
    setweb() {
      codeReader
        .decodeFromInputVideoDevice(this.webcam, "video")
        .then(result => {
          codeReader.reset();
          this.webcamshow = false;
          this.camaras = [];
          this.webcam = "";
          this.msgBoton = "Escanear";
          this.codigo = result.text;
          this.agregar();
        })
        .catch(e => {
          console.log(e);
        });
    },
    closecam() {
      this.camaras = [];
      this.msgBoton = "Escanear";
      this.webcamshow = false;
      this.webcam = "";
      codeReader.reset();
    }
  }
};
</script>

