<template>
  <div class="modal" v-bind:class="{'is-active' : this.active}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Recuperar contraseña</p>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <div class="control has-icons-left">
            <input
              class="input is-primary is-medium is-rounded"
              type="email"
              placeholder="email"
              v-model="mail"
              required
            >
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button id="Send" class="button is-success is-rounded" @click="close">Enviar</button>
        <button id="Cancel" class="button is-danger is-rounded" @click="close">Cancelar</button>
      </footer>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "passwordRequest",
  data() {
    return {
      mail: ""
    };
  },
  props: {
    active: Boolean
  },
  methods: {
    recoverpassword() {
      var statusMail = this.ValidateEmail(this.mail);
      if (statusMail) {
        var data = { mail: this.mail };
        axios.post("/api/Password", data);
        this.mail = "";
      }
      return statusMail;
    },
    close(e) {
      var IDbutton = e.target.id;
      if (IDbutton === "Send") {
        if (this.recoverpassword()) {
          this.$emit("closed");
        }
      }
    },
    ValidateEmail(mail) {
      if (/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(mail)) {
        return true;
      }
      alert("Ingrese una dirección de correo electrónico valida!");
      return false;
    }
  }
};
</script>
