<template>
  <div class="card">
    <div class="card-content">
      <div class="content is-mobile">
        <carousel
          :perPage="1"
          :navigationEnabled="true"
          paginationActiveColor="#83c4e9"
          paginationColor="#b2ebd1"
        >
          <slide v-for="(producto, index) in this.productos" :key="index">
            <productInformation :Producto="producto"/>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</template>
<script>
import { Carousel, Slide } from "vue-carousel";
import productInformation from "@/components/productInformation";
export default {
  name: "productList",
  props: {
    productos: Array
  },
  components: {
    Carousel,
    Slide,
    productInformation
  }
};
</script>