<template>
  <div class="container is-fluid">
    <h2 class="title has-text-black">{{Nombre || `Sin información`}}</h2>
    <levelProduct v-if="WalMart" :Tienda="WalMart"/>
    <levelProduct v-if="LaComer" :Tienda="LaComer"/>
    <levelProduct v-if="Chedraui" :Tienda="Chedraui"/>
    <nav class="level">
      <div v-if="Imagen && Imagen!=`undefined`" class="level-item has-text-centered">
        <img class="image is-128x128" :src="Imagen">
      </div>
    </nav>
  </div>
</template>

<script>
import levelProduct from "@/components/levelProduct";
export default {
  name: "productInformation",
  components: {
    levelProduct
  },
  props: {
    Producto: Object
  },
  data() {
    return {
      Nombre: this.Producto.Nombre,
      Imagen: this.Producto.Imagen,
      WalMart: this.Producto.WalMart,
      LaComer: this.Producto.LaComer,
      Chedraui: this.Producto.Chedraui
    };
  },
  watch: {
    Producto: function(newVal) {
      this.Nombre = newVal.Nombre;
      this.Imagen = newVal.Imagen;
      this.WalMart = newVal.WalMart;
      this.LaComer = newVal.LaComer;
      this.Chedraui = newVal.Chedraui;
    }
  }
};
</script>

