<template>
  <section class="hero is-fullheight is-primary" id="app">
    <Header/>
    <router-view></router-view>
  </section>
</template>
<script>
import Header from "./components/Header.vue";
export default {
  name: "App",
  components: {
    Header
  }
};
</script>